.form {
  &-caption {
    $form-caption-color: rgb(170, 170, 170);

    color: $form-caption-color;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &-fields {
    padding-left: 15px;
  }

  &-switch {
    padding-left: 25px;
  }

  &-group {
    padding-left: 25px;
  }
}

.form-group-inline {
  display: flex;
  align-items: center;

  input {
    margin-right: 10px;
  }

  label {
    white-space: nowrap;
    margin-bottom: 0;
  }
}

.custom-radio {

  .custom-control-label {
    font-weight: 700;
    cursor: pointer;
    
    .custom-control-button {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 1px solid rgb(175, 175, 175);
      position: absolute;
      left: -1.5rem;
      top: 0;
      bottom: 0;
      margin: auto;

      &::before {
        $radio-button-padding: 3px;

        content: '';
        display: none;
        position: absolute;
        border-radius: 50%;
        top: $radio-button-padding;
        bottom: $radio-button-padding;
        left: $radio-button-padding;
        right: $radio-button-padding;
        background: #000;
      }
    }

    &::before, &::after {
      display: none;
    }

  }

  .custom-control-input {

    &:checked {

      &~ .custom-control-label {

        .custom-control-button {

          &::before {
            display: block;
          }

        }

      }

    }

  }

}

.form-switch {
  margin: 20px 0;
}

.form-group {

  input {
    max-width: 165px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 20px;
    font-weight: 700;
    height: auto;
  }
  
  label {
    font-weight: 700;
  }

}