.form {
  &-caption {
    $form-caption-color: rgb(170, 170, 170);

    color: $form-caption-color;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &-fields {
    padding-left: 15px;
  }

  &-switch {
    padding-left: 25px;
  }

  &-group {
    padding-left: 25px;
  }
}

.form-group-inline {
  display: flex;
  align-items: center;

  input {
    margin-right: 10px;
  }

  label {
    white-space: nowrap;
    margin-bottom: 0;
  }
}

.form-switch {
  margin: 20px 0;
}

.form-group {

  input {
    max-width: 165px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 20px;
    font-weight: 700;
    height: auto;
  }
  
  label {
    font-weight: 700;
  }

}